
.contactWrapper {
    width: 100%;
    height: 100%;
}
.displayHeader {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    // background: url("../../assets/dark_geometric.png");
    margin: 0px auto;
    padding: 12px 0px;
}

.wrapper {
    text-align: center;
}
.icons {
    text-align: center;
    width: 100%;
    // background: url("../../assets/escheresque2.png");
    background: url("../../assets/beach.jpeg");
    background-position-y: center;
    background-size: cover;
    padding: 10px;
    border-top: 3px solid black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    p {
        font-weight: bold;
    }
}
.icons img {
    border-radius: 50px;
    border: 8px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}
.icons .imgCreds a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
@media only screen and (max-width: 480px) {
    .icons {
        min-height: 500px;
    }
    .icons img {
        width: 50%;
        margin: 20px auto;
        display: block;
    }
    .icons img:nth-child(1) {
        margin-top: 50px;
    }
    .icons img:nth-child(3) {
        filter: grayscale(100%);
    }
    .block:nth-child(3) {
        filter: grayscale(100%) contrast(150%);
    }
    .icons p {
        margin-bottom: 80px;
    } 
    .icons .imgCreds {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .imgCreds {
        margin: 20px auto;
        margin-bottom: unset;
        padding-bottom: 20px;
        text-align: center;
    }
}
@media only screen and (min-width: 481px) {
    .icons {
        height: 500px;
    }
    .third {
        display: inline-block;
        width: 25%;
        margin: 100px 4%;
        transition: .2s all ease-in-out;
    }
    .icons img {
        width: 65%;
    }
    .third:nth-child(3) {
        filter: grayscale(100%) contrast(150%);
    }
    .icons p {
        margin-top: 10px;
    }
    .third:hover {
        transform: scale(1.1);
    }
    .imgCreds {
        margin-left: 90%;
    }
}
@media only screen and (min-width: 1024px) {
    .third {
        width: 20%;
    }
}