
<div class="contactWrapper">
    <h2 class="displayHeader">Let's Talk!</h2>
    <hr style="background: white;">
    <div class="icons">
        <div class="third">
            <a href="mailto:ramsteadwilson@gmail.com?subject=Email from your website!"><img src="assets/images/emal5.png" alt="Email logo"></a>
            <p>Email</p>
        </div>
        <div class="third">
            <a href="https://www.linkedin.com/in/wilson-ramstead-50a613183" target="_blank"><img src="assets/images/linkedin.png" alt="linkedin logo"></a>
            <p>LinkedIn</p>
        </div>
        <div class="third">
            <a href="https://github.com/wilsonramstead" target="_blank"><img src="assets/images/github.png" alt="linkedin logo"></a>
            <p>Github</p>
        </div>
    </div>
</div>
