
.contactWrapper {
    width: 100%;
    height: 100%;
}
.displayHeader {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    // background: url("../../assets/dark_geometric.png");
    margin: 0px auto;
    padding: 12px 0px;
}

.wrapper {
    text-align: center;
}
.icons {
    text-align: center;
    width: 100%;
    // background: #c4e6e3;
    background: url("../../assets/escheresque2.png");
    padding: 10px;
    border-top: 3px solid black;
    color: black;
    font-family: 'Raleway', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    border-radius: 0% 0% 4% 4%;
}
.icons img {
    border-radius: 50px;
    border: 8px solid black;
    background-color: rgba(15, 15, 15, 0.5);
}
@media only screen and (max-width: 480px) {
    .icons {
        min-height: 500px;
    }
    .icons img {
        width: 50%;
        margin: 20px auto;
        display: block;
    }
    .icons img:nth-child(1) {
        margin-top: 50px;
    }
    .icons img:nth-child(3) {
        filter: grayscale(100%);
    }
    .block:nth-child(3) {
        filter: grayscale(100%) contrast(150%);
    }
    .icons p {
        margin-bottom: 80px;
    } 
}
@media only screen and (min-width: 481px) {
    .icons {
        height: 500px;
    }
    .third {
        display: inline-block;
        width: 25%;
        margin: 100px 4%;
        transition: .2s all ease-in-out;
    }
    .icons img {
        width: 65%;
    }
    .third:nth-child(3) {
        filter: grayscale(100%) contrast(150%);
    }
    .icons p {
        margin-top: 10px;
    }
    .third:hover {
        transform: scale(1.1);
    }
}
@media only screen and (min-width: 1024px) {
    .third {
        width: 20%;
    }
}