
.wrapper {
    width: 100%;
    margin: 0px auto;
}
.nav {
    height: 40px;
    background: rgba(0, 0, 0, 0.507);
    border: 3px solid black;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 20px;

    li {
        display: inline-block;
        margin: 0px 20px;
        font-size: 26px;
        color: white;
        cursor: pointer;
    }
    .activeLink {
        color: pink;
    }
    li:hover {
        text-decoration: underline;
    }
}

.section {
    width: 100%;
    min-height: 450px;
    // background: #c4e6e3;
    background: #585858;
    padding: 10px;
    border-top: 3px solid black;
    padding-bottom: 20px;
}
.textContent {
    text-align: left;
    margin-left: 2%;
    margin-top: 10px;
    color: white;
    display: inline-block;
    vertical-align: top;
}
.backgroundWrapper {
    background: #e2e2e2;
    min-height: 100px;
}
.innerDiv {
    border: 2px solid rgb(41, 41, 41);
    height: 250px;
    padding: 10px;
    background: rgba($color: #e2e2e2, $alpha: .5);
    p {
        color: black;
    }
}
.bulletList {
    color: white;
    li {
        margin-top: 10px;
        list-style: square;
    }
}

.sectionTitle {
    text-align: left;
    margin-left: 4%;
    // margin-top: 10px;
    // color: white;
    font-family: 'Raleway', sans-serif;

    // TEMP without media queries
    h2 {
        font-size: 26px;
    }
    h4 {
        font-size: 22px;
    }
}
.selectionList {
    margin-left: 4%;
    text-align: left;
    list-style: square;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
}
.infoAlerts {
    color: #006bdd;
    cursor: pointer;
}
.infoAlerts:hover {
    text-decoration: underline;
}

.displayHeader {
    color: white;
    font-size: 32px;
    text-align: center;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 12px auto;
}
