
.wrapper {
    width: 100%;
    margin: 0px auto;
}
.nav {
    height: 40px;
    // background: rgba(0, 0, 0, 0.507);
    background: url("../../assets/escheresque_ste.png");
    background: linear-gradient(to right, rgba(0, 0, 80, 0.3), rgba(0,0,0,0));
    // border: 3px solid black;
    border-left: 3px solid #6d94ff;
    border-top: 3px solid #6d94ff;
    width: 90%;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    li {
        display: inline-block;
        margin: 0px 20px;
        font-size: 26px;
        color: white;
        cursor: pointer;
    }
    .activeLink {
        color: black;
    }
    li:hover {
        text-decoration: underline;
    }
}

.fakeLink {
    color: #007bff;
}
.fakeLink:hover {
    color: #0056b3;
    text-decoration: underline;
}
.section {
    width: 100%;
    min-height: 450px;
    background: url("../../assets/escheresque2.png");
    border-top: 3px solid black;
    padding-bottom: 20px;
}
.textContent {
    text-align: left;
    color: black;
}
.innerDiv {
    border: 2px solid rgb(41, 41, 41);
    height: 250px;
    padding: 10px;
    background: rgba($color: #e2e2e2, $alpha: .5);
    p {
        color: black;
    }
}
.bulletList {
    color: black;
    li {
        margin-bottom: 10px;
        list-style: square;
    }
}
.fwdImg {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.sectionTitle {
    text-align: left;
    padding-left: 4%;
    font-family: 'Raleway', sans-serif;
    border-bottom: 3px solid black;
    background: rgba(0,0,0,0.1);
    font-size: 32px;
    // TEMP without media queries
}
.selectionList {
    margin-left: 4%;
    text-align: left;
    list-style: square;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
}
.infoAlerts {
    color: #006bdd;
    cursor: pointer;
}
.infoAlerts:hover {
    text-decoration: underline;
}

.displayHeader {
    color: white;
    font-size: 32px;
    text-align: center;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0px auto;
    padding: 12px 0px;
}

@media only screen and (max-width: 480px) {
    .textContent {
        text-align: left;
        margin-left: 2%;
        margin-top: 10px;
        width: 100%;
        display: block;
    }
    .sectionTitle {
        text-align: center;
        font-size: 26px;
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav {
        text-align: center;
        margin: 15px auto;
    }
    .textContent h4 {
        padding-left: 5px;
        font-size: 1.4rem;
    }
    .section {
        padding-right: 5px;
    }
}

@media only screen and (min-width: 481px) {
    .textContent {
        text-align: left;
        margin-left: 2%;
        margin-top: 10px;
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    .sectionTitle {
        font-size: 32px;
        height: 50px;
        padding-top: 5px;
    }
}