
.wrapper {
    width: 100%;
    margin: 0px auto;
}
.nav {
    height: 40px;
    background: rgba(0, 0, 0, 0.507);
    border: 3px solid black;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 20px;

    li {
        display: inline-block;
        margin: 0px 20px;
        font-size: 26px;
        color: white;
        cursor: pointer;
    }
    .activeLink {
        color: goldenrod;
    }
    li:hover {
        text-decoration: underline;
    }
}

.section {
    width: 100%;
    min-height: 450px;
    background: #585858;
    padding: 10px;
    border-top: 3px solid black;
    padding-bottom: 20px;
}
.textContent {
    text-align: left;
    // margin-left: 2%;
    // margin-top: 10px;
    color: white;
}
.backgroundWrapper {
    background: #e2e2e2;
    min-height: 100px;
}
.innerDiv {
    border: 2px solid rgb(41, 41, 41);
    height: 250px;
    padding: 10px;
    background: rgba($color: #e2e2e2, $alpha: .5);
    p {
        color: black;
    }
}
.bulletList {
    color: white;
    li {
        margin-bottom: 10px;
        list-style: square;
    }
}
.fwdImg {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.sectionTitle {
    text-align: left;
    margin-left: 4%;
    font-family: 'Raleway', sans-serif;

    // TEMP without media queries
}
.selectionList {
    margin-left: 4%;
    text-align: left;
    list-style: square;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
}
.infoAlerts {
    color: #006bdd;
    cursor: pointer;
}
.infoAlerts:hover {
    text-decoration: underline;
}

.displayHeader {
    color: white;
    font-size: 32px;
    text-align: center;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 12px auto;
}

@media only screen and (max-width: 480px) {
    .textContent {
        text-align: left;
        margin-left: 2%;
        margin-top: 10px;
        width: 100%;
        display: block;
    }
    .sectionTitle {
        text-align: center;
        font-size: 26px;
    }
    .nav {
        text-align: center;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 481px) {
    .textContent {
        text-align: left;
        margin-left: 2%;
        margin-top: 10px;
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
}