
<div class="wrapper">
    <h2 class="displayHeader">What I Do</h2>
    <!-- <hr style="background: white;"> -->
    <div class="section">
        <h2 class="sectionTitle">Full Stack Web Developement</h2>
        <!-- <ul class="selectionList">
            <li *ngIf="pageToShow === 'info'">Info</li>
            <li (click)="changePage('info')" *ngIf="pageToShow != 'info'">Info</li>
            <li *ngIf="pageToShow === 'tech'">My Tech</li>
            <li (click)="changePage('tech')" *ngIf="pageToShow != 'tech'">My Tech</li>
        </ul> -->
        <div *ngIf="pageToShow === 'info'" class="textInfo">
            <p></p>
        </div>
    </div>
    <div class="section">
        <h2 class="sectionTitle">Software Engineer</h2>
        <h4 class="sectionTitle">Big Data Support Engineer</h4>
    </div>
</div>





<!-- <div class="block">
    <h3 class="title">Front End</h3>
    <div class="outerCube">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="middleCube">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="innerCube">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="info">
        <p>Responsive Layouts</p>
        <p>Styling and Animations</p>
        <p>Front End Architecture</p>
    </div>
</div>
<hr>
<div class="block">
    <h3 class="title">Back End</h3>
    <div class="outerCube" id="outerCubeTwo">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="middleCube" id="middleCubeTwo">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="innerCube" id="innerCubeTwo">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="info">
        <p>MVC Architecture</p>
        <p>Object Relational Mapping</p>
        <p>Restful API</p>
    </div>
</div>
<hr>
<div class="block">
    <h3 class="title">Database</h3>
    <div class="outerCube">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="middleCube">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="innerCube">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="info">
        <p>Database Design</p>
        <p>SQL Databases</p>
        <p>NoSQL Databases</p>
    </div>
</div> -->