
<div class="aboutWrapper">
    <div class="intro">
        <h2 class="smallHeader">Welcome!</h2>
        <img src="../assets/images/composite.png" alt="Profile Pic">
        <div class="introText">
            <h2 class="largeHeader">Welcome!</h2>
            <p>I am a dedicated and motivated professional seeking an opportunity to showcase my creative and technical proficiency. My goal is to attain a position which will provide an opportunity for growth and personal development, as well as the opportunity to expand my knowledge. As a recent graduate of a highly respected development boot camp in Seattle, I am eager to enter the workforce and pursue my dream.</p>
            <p>Currently happily employed by Mindree Ltd. as a Big Data support engineer.</p>
        </div>
        <div class="resume">
            <!-- <h4 class="labelOne"></h4> -->
            <embed src="../assets/images/Resume.pdf" type="application/pdf" width="80%" height="600px">

        </div>
    </div>
    <hr>
</div>
