
<div class="aboutWrapper">
    <div class="intro">
        <h2 class="smallHeader">Welcome!</h2>
        <img src="../assets/images/composite.png" alt="Profile Pic">
        <div class="introText">
            <h2 class="largeHeader">Welcome!</h2>
            <hr style="background: white;">
            <!-- <p>Quick about me: I'm a big data support engineer.</p> -->
            <p>My first exposure to computer programing instantly created a full time passion for me. Every day my mind is blown by the power of technology, there is really nothing we can't do. I am eager to be apart of the exciting journey into the future of tech, and am curious to see the ways I am able to contribute to the world. It seems nothing can excite me more than that.</p>
            <p>Currently happily employed by <a target="_blank" href="https://www.mindtree.com/">Mindtree</a> as a Big Data support engineer for Microsoft's Azure <a target="_blank" href="https://azure.microsoft.com/en-us/services/data-factory/">Data Factory</a>.</p>
            <p><strong>Soft skills:</strong> Tenacious work ethic. Creative problem solver. Positive energy. Detail oriented. Dedicated hard worker. </p>
        </div>
        <div class="resume">
            <h2>Resume</h2>
            <p><a target="_blank" href="../assets/images/Resume.pdf">Click to view</a></p>
            <!-- <embed src="../assets/images/Resume.pdf" type="application/pdf" width="80%" height="600px"> -->
            <object data="../assets/images/Resume.pdf" type="application/pdf" width="80%" height="600px">
            <p>Your web browser doesn't have a PDF plugin.
            Instead you can <a target="_blank" href="../assets/images/Resume.pdf">click here to
            view.</a></p>
            </object>
        </div>
    </div>
    <hr>
</div>