
.intro {

    // border-bottom: 3px solid black;
    overflow: auto;
    img {
        width: 20%;
        // margin: 2% 10%;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 3%;
        display: inline-block;
        border: 2px solid black;
        border-radius: 25%;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        color: white;
    }
    .introText {
        width: 65%;
        min-height: 200px;
        padding-bottom: 10px;
        margin-top: 2%;
        // background: silver;
        display: inline-block;
        vertical-align: top;

        p {
            font-family: 'Noto Serif', serif;
            color: white;
        }
    }
    .resume {
        margin: 20px auto;
        text-align: center;
        background: url("../../assets/escheresque2.png");
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        // padding-top: 10px;
        min-height: 600px;
        padding-bottom: 25px;
        width: 100%;
        h2 {
            color: black;
            height: 42px;
            background: rgba(0,0,0,0.1);
            border-bottom: 3px solid black;
        }
    }
}

@media only screen and (max-width: 480px) {

    .intro img {
        display: block;
        margin: 0px auto;
        width: 50%;
    }
    .intro .introText {
        width: 100%;
    }
    .introText {
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
            text-align: center;
            width: 90%;
            margin: 20px auto;
        }
    }
    .largeHeader {
        display: none;
    }
    .smallHeader {
        text-align: center;
    }
}

@media only screen and (min-width: 481px) {
    .intro img {
        width: 23%;
    }
    .intro .introText {
        width: 65%;
    }

    .introText {
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 12px;
        }
    }
    .smallHeader {
        display: none;
    }
}
@media only screen and (min-width: 900px) {

    .intro img {
        width: 23%;
    }
    .intro .introText {
        width: 65%;
    }

    .introText {
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .intro img {
        width: 20%;
    }
    
    .intro .introText {
        width: 65%;
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 16px;
        }
    }
}