
.intro {

    // border-bottom: 3px solid black;
    overflow: auto;
    img {
        width: 300px;
        // margin: 2% 10%;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 3%;
        display: inline-block;
        border: 2px solid black;
        border-radius: 25%;
    }
    .introText {
        width: 65%;
        height: 300px;
        margin-top: 2%;
        // background: silver;
        display: inline-block;
        vertical-align: top;

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 26px;
            color: white;
        }
        p {
            font-family: 'Noto Serif', serif;
            font-size: 22px;
            color: white;
        }
    }
    .resume {
        margin: 20px auto;
        text-align: center;
    }
}
