
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}

.mainWrapper {
    background: #585858;
    height: 100vh;
    width: 100%;
    // border: 5px solid rgb(197, 197, 197);
    // background: url("../assets/escheresque2.png");
    background: url("../assets/escheresque_ste.png");

    .mainHR {
        height: 1px; 
        background:white; 
        margin: 0px auto; 
        margin-bottom: 20px;
    }
    
    .innerWrapper {
        height: 100%;
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-top: 3px solid black;
        margin-left: 15px;
        margin-top: 10px;
        // background: url("../assets/escheresque_ste.png");
        background: url("../assets/escheresque2.png");
    }

    .mainHeader {
        height: 150px;
        width: 94%;
        margin: 0px auto;
        border-left: 3px solid black;
        border-right: 3px solid black;
        // border-top: 3px solid black;
        text-align: center;
        color: white;
        font-size: 22px;
        font-weight: 300;

        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }
        h3 {
            font-size: 18px;
            margin-top: 6px;
            // font-family: 'Open Sans', sans-serif;
            font-family: 'Raleway', sans-serif;
        }
    }
    .fullWidthHR {
        height: 3px;
        background: black;
    }
    .navbar {
        height: 50px;
        width: 100%;
        // background: rgba($color: #313131, $alpha: .5);
        border-bottom: 3px solid black;
        border-top: 3px solid black;

        ul {
            list-style: none;
            text-align: center;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            li {
                display: inline-block;
            }
            li:hover {
                cursor: pointer;
            }
            .activePage {
                color: black;
            }
            .activePage:hover {
                cursor: default;
            }
        }
    }

    .displayContainer {
        height: 75%;
        width: 100%;
        overflow: auto;
        display: inline-block;
        vertical-align: top;
        background: url("../assets/escheresque_ste.png");
    }
}

@media only screen and (max-width: 480px) {
    .innerWrapper {
        width: 92%;
    }
    .navbar ul {
        font-size: 14px;
        width: 100%;
        text-align: center;
        li {
            margin: 8px 10px;
        }
    }
    .mainHeader h1 {
        font-size: 2rem;
        padding: 9px 0px;
    }
    .mainHR {
        width: 80%;
    }
}

@media only screen and (min-width: 481px) {
    .innerWrapper {
        width: 98%;
    }
    .navbar ul {
        font-size: 18px;
        li {
            margin: 8px 15px;
        }
    }
    .mainHeader h1 {
        font-size: 2.5rem;
    }
    .mainHR {
        width: 28%;
    }
}