
@import "~bootstrap/scss/bootstrap";

.coolBackground {
    // background: linear-gradient(-45deg, #b2c7ff, #80a0fa, #3e66d3);
    background: linear-gradient(-45deg, #b2c7ff, #3e66d3);
    background: linear-gradient(-45deg, #c6d3f7, #5a7fe4);
    background-size: 400% 400%;
    animation: gradientBG 20s ease infinite;
}
.coolBackground2 {
    background: linear-gradient(-45deg, #ffffff, #8b8b8b, #000000);
    background-size: 200% 200%;
    animation: gradientBG 20s ease infinite;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.glow {
    color: #2e2e2e;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9ca3ff, 0 0 20px #9ca3ff, 0 0 25px #9ca3ff, 0 0 30px #9ca3ff, 0 0 35px #9ca3ff;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ddd, 0 0 20px #ddd, 0 0 25px #ddd, 0 0 30px #ddd, 0 0 35px #ddd, 0 0 40px #ddd;
    }
}
