.wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.displayHeader {
    color: white;
    font-size: 32px;
    text-align: center;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 12px auto;
}
.section {
    width: 100%;
    height: 500px;
    // background: #c4e6e3;
    background: #585858;
    padding: 10px;
    border-top: 3px solid black;
}
.sectionTitle {
    font-family: 'Raleway', sans-serif;
    color: white;
}
.carousel {
    width: 40%;
    // margin: 20px 5%;
    display: inline-block;
    vertical-align: top;
    ngb-carousel {
        width: 100%;
    }
}
.slide {
    img {
        width: 100%;
    }
}
.descriptionBox {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 3%;
    color: white;
    // .activeLink {
    //     color: #b8b8b8;
    // }
    ul {
        text-align: left;
        li {
            display: inline-block;
            list-style: none;
            margin: 5px 15px;
            cursor: pointer;
        }

    }

    p {
        font-size: 22px;
        font-family: 'Noto Serif', serif;
        text-align: left;
    }
}

.sectionTitle {
    text-align: left;
    margin-left: 4%;
    // margin-top: 10px;
    // color: white;
    font-family: 'Raleway', sans-serif;

    // TEMP without media queries
    h2 {
        font-size: 26px;
    }
    h4 {
        font-size: 22px;
    }
}