
<div class="wrapper">
    <h2 class="displayHeader">My Personal Projects</h2>
    <div class="section">
        <h2 class="sectionTitle">Previous Portfolio Website</h2>
        <div class="carousel">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/previousWebsite/home.png" alt="previous website pic 1">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/previousWebsite/whatIDo.png" alt="previous website pic 2">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/previousWebsite/tech.png" alt="previous website pic 3">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/previousWebsite/contact.png" alt="previous website pic 4">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="descriptionBox">
            <ul>
                <li><h4 (click)="showInfo('description')">Description</h4></li>
                <li class="middlePipe"> | </li>
                <li><h4 (click)="showInfo('tech')">Tech</h4></li>
            </ul>
            <hr>
            <p *ngIf="infoToShow === 'description'">Most recently coded project. Was a cool website with many moving pieces. Decided to take down due to instability, many moving pieces in the backend caused shaky appearance/connectivity.</p>
            <div *ngIf="infoToShow === 'tech'" class="tech">
                <p><strong style="color: black;">Front End: </strong> Html, Css, Javascript, Angular, Bootstrap</p>
                <p><strong style="color: black;">Back End: </strong> Node.js, Express.js</p>
                <p><strong style="color: black;">Database: </strong> No database</p>
                <p><a target="_blank" href="https://github.com/wilsonramstead/Portfolio">Source Code</a></p>
                
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="sectionTitle">Goal Tracker</h2>
        <div class="carousel">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/goalTracker/gtGoalsPage.png" alt="goal tracker pic 1">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/goalTracker/gtNewGoal.png" alt="goal tracker pic 2">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/goalTracker/gtCalendar1.png" alt="goal tracker pic 3">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/goalTracker/gtCalendar2.png" alt="goal tracker pic 4">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="descriptionBox">
            <ul>
                <li><h4 (click)="showInfo2('description')">Description</h4></li>
                <p class="middlePipe">|</p>
                <li><h4 (click)="showInfo2('tech')">Tech</h4></li>
            </ul>
            <hr>
            <p *ngIf="infoToShow2 === 'description'">Website originally created for real personal use, and to save paper... But also as a way to further my experience with front-end styling and animations. Advanced backend logic applied through unique functions, from auto updating unassigned days to figuring out the specefic day of week per each month day - dynamically.</p>
            <div *ngIf="infoToShow2 === 'tech'" class="tech">
                <p><strong style="color: black;">Front End: </strong> Html, Css, Javascript, Angular, jQuery, Bootstrap</p>
                <p><strong style="color: black;">Back End: </strong> Node.js, Express.js</p>
                <p><strong style="color: black;">Database: </strong> MongoDB</p>
                <p><a target="_blank" href="https://github.com/wilsonramstead/GoalTracker">Source Code</a></p>
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="sectionTitle">The Wall</h2>
        <div class="carousel">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallMain.png" alt="the wall pic 1">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallMainFeed.png" alt="the wall pic 1">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallAccount.png" alt="the wall pic 3">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallConvo.png" alt="the wall pic 4">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallDM.png" alt="the wall pic 5">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallGroup.png" alt="the wall pic 6">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper slide">
                        <img src="../assets/projectPics/theWall/theWallGroupFeed.png" alt="the wall pic 7">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="descriptionBox">
            <ul>
                <li><h4 (click)="showInfo3('description')">Description</h4></li>
                |
                <li><h4 (click)="showInfo3('tech')">Tech</h4></li>
            </ul>
            <hr>
            <p *ngIf="infoToShow3 === 'description'">A website where users can register an account and create posts to a public wall. Users can comment on other users posts, and visit their customized account page. Users have a network feature to list all users they are and are not connected to. Users can have private direct message conversations with other users, and create a private wall with a group of their connections.</p>
            <div *ngIf="infoToShow3 === 'tech'" class="tech">
                <p><strong style="color: black;">Front End: </strong> Html, Css, Javascript, jQuery, Bootstrap</p>
                <p><strong style="color: black;">Back End: </strong> Asp.Net Core, Entity Framework</p>
                <p><strong style="color: black;">Database: </strong> MySQL</p>
                <p><a target="_blank" href="https://github.com/wilsonramstead/theWall">Source Code</a></p>
            </div>
        </div>
    </div>
    <!-- <div class="section">
        <h2 class="sectionTitle">Jumpman</h2>
        <div class="carousel">
            <video class="jumpmanVid" width="50%" controls autoplay>
                <source src="../../assets/projectPics/jumpmanSR.mov" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="descriptionBox">
        <ul>
            <li><h4 (click)="showInfo3('description')">Description</h4></li>
            |
            <li><h4 (click)="showInfo3('tech')">Tech</h4></li>
        </ul>
        <hr>
        <p *ngIf="infoToShow3 === 'description'">A simple game built in ...</p>
        <div *ngIf="infoToShow3 === 'tech'" class="tech">
            <p><strong style="color: black;">Front End: </strong> Html, Css, Javascript</p>
            <p><strong style="color: black;">Back End: </strong> Django</p>
            <p><strong style="color: black;">Database: </strong> MySQL</p>
            <p><a target="_blank" href="https://github.com/wilsonramstead/theWall">Source Code</a></p>
        </div>
    </div> -->
</div>

